@use "../../../styles/colors" as colors;

.dropCap {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.accomplishments-hero {
    display: block;
    background-color: colors.$dark;
    background-image: url("../../../assets/images/coderainbow.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    margin: 0 0 1.5rem;
    min-height: 190px;
}
