@use "../../../assets/styles/colors.scss" as colors;

.dropCap {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.accomplishments-hero {
    background-color: colors.$dark;
    background-image: url("../../../assets/AdobeStock_208230550.jpg");
    background-position: 10% 25%;
    background-size: cover;
    color: #fff;
    margin: 0 0 1.5rem;
    min-height: 190px;
}
