 .dropCap {
   font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
 }

 .jumbotron {
   background-image: url("/assets/AdobeStock_208230550.jpeg");
   background-position: 10% 25%;
   color: #FFF;
   margin: 30px 0 20px 0;
   height: 150px;
 }
