<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb mb-3 mt-2">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Camelbird
            </li>
        </ol>
    </div>
</nav>

<div class="camelbird-hero p-4 p-md-5 mb-4 rounded-3 text-light shadow-sm">
    <div class="container">
        <h1 class="display-5 fw-normal mb-3">Camelbird The Story</h1>
        <p class="lead mb-0 text-white-50">It started back in high school...</p>
    </div>
</div>

<div class="container pb-5">
    <p class="mb-3">
        My friend Mike was super into Origami and was always creating little
        origami creatures and shapes. One day he started making a crane and
        decided to give it legs for fun. I saw this legged crane and decided to
        launch into its backstory. So I started the tale of the great North
        American flightless Camelbird, that once ranged across the great plains
        of North America. Unfortunately due to habitat destruction and
        overhunting, for their insulating feathers, they are practically
        extinct. Small flocks exist in remote corners of the great plains.
        Naturally they congregate in small family groups, but there have been
        mutterings of larger gatherings in the remote corners of the plains.
        Some folktales forewarn that they are gathering strength and will one day
        rise up and reclaim the plains for their own.
    </p>
    <p class="mb-0">
        So when it came down to looking for domains for my portfolio site I
        thought it would be fun to base it on a funny story from growing up.
    </p>
</div>
