<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-2">
    <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Cameldird</li>
  </ol>
</nav>
<div class="jumbotron jumbotron-fluid bg-dark text-light">
  <div class="container">
    <h1 class="display-4">Camelbird The Story</h1>
    <p class="lead">It started back in high school...</p>
  </div>
</div>
<p>My friend Mike was super into Oragami and was always creating little orgami creatures and shapes. One day he started making a
crane and decided to give it legs for fun. I saw this legged crane and decided to launch into it's backstory. So I started the tale
of the great North American flightless Camelbird, that once ranged across the great plains of North America. Unfortunately due to
habitat destructio and overhunthing, for their insulating feathers, they are pratically extinct. Small flocks exist in remote corners
of the great plains. Naturally they congregate in small family groups, but there have been mutterings of larger gatherings in the
remote corners of the plains. Some folktales forwarn that they are gathering strength and will one day rise up and reclaim the plains for 
their own.</p>
<p>So when it came down to looking for domaina for my portfolio site I thought it would fun to base it a funny story from growing up.</p>