@use "../../../assets/styles/colors.scss" as colors;

.camelbird-hero {
  background-color: colors.$dark;
  background-image: url("../../../assets/zflyingcamel.gif");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  margin: 0 0 1.5rem;
  min-height: 170px;
}
