<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand me-auto" href="#">
      <img class="d.d-inline-block align-text-top" id="camel-logo" alt="CamelBird Logo" src="/assets/zflyingcamel.gif" width="40" />
      {{ title }}.com
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" routerLink="/accomplishments" routerLinkActive="active">Accomplishments</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/devblog" routerLinkActive="active" *ngIf="isDevBlogEnabled">Dev Blog</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/interests" routerLinkActive="active">Interests</a></li>
      </ul>
    </div>
    <div class="camelbird-navbar-right">
      <a aria-label="Github link" target="_blank" rel="noopener" href="https://github.com/dangard" title="Github">
        <img id="github-logo" alt="Github Logo" src="/assets/GitHub-Mark-Light-32px.png" height="24" />
      </a>
      <a aria-label="Daniel on Linked In" target="_blank" rel="noopener" href="https://www.linkedin.com/in/dangard/" title="Linked In">
        <img id="linked-in-logo" alt="Linked In Logo" src="/assets/LI-In-Bug.png" height="24" />
      </a>
    </div>
  </div>
</nav>
