<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid header-navbar-inner">
        <div class="header-navbar-start">
            <button
                class="navbar-toggler"
                type="button"
                (click)="toggleNav()"
                [attr.aria-expanded]="!navCollapsed"
                aria-controls="navbarSupportedContent"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <a
                class="navbar-brand text-white"
                href="#"
                routerLink="/camelbird"
                routerLinkActive="active"
                (click)="closeNav()"
            >
                <img
                    class="d-inline-block align-text-top"
                    id="camel-logo"
                    src="assets/images/zflyingcamel.gif"
                    width="40"
                    height="40"
                    alt=""
                />
                {{ title }}.com
            </a>
        </div>
        <div
            class="navbar-collapse collapse header-navbar-center"
            [class.show]="!navCollapsed"
            id="navbarSupportedContent"
        >
            <ul
                class="navbar-nav nav-pills mb-2 mb-lg-0 gap-1 align-items-lg-center"
            >
                <li class="nav-item">
                    <a
                        class="nav-link rounded-pill px-3"
                        routerLink="/accomplishments"
                        routerLinkActive="active"
                        (click)="closeNav()"
                        >Accomplishments</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link rounded-pill px-3"
                        routerLink="/devblog"
                        routerLinkActive="active"
                        (click)="closeNav()"
                        >Dev Blog</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link rounded-pill px-3"
                        routerLink="/interests"
                        routerLinkActive="active"
                        (click)="closeNav()"
                        >Interests</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link rounded-pill px-3"
                        routerLink="/contact"
                        routerLinkActive="active"
                        (click)="closeNav()"
                        >Contact</a
                    >
                </li>
            </ul>
        </div>
        <div class="camelbird-navbar-right">
            <a
                aria-label="GitHub link"
                target="_blank"
                rel="noopener"
                href="https://github.com/dangard"
                title="GitHub"
            >
                <i
                    class="bi bi-github navbar-social-icon"
                    aria-hidden="true"
                ></i>
            </a>
            <a
                aria-label="Daniel on LinkedIn"
                target="_blank"
                rel="noopener"
                href="https://www.linkedin.com/in/dangard/"
                title="LinkedIn"
            >
                <i
                    class="bi bi-linkedin navbar-social-icon"
                    aria-hidden="true"
                ></i>
            </a>
        </div>
    </div>
</nav>
