<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <a
            class="navbar-brand me-auto text-white"
            href="#"
            routerLink="/camelbird"
            routerLinkActive="active"
        >
            <img
                class="d-inline-block align-text-top"
                id="camel-logo"
                src="assets/zflyingcamel.gif"
                width="40"
                height="40"
                alt=""
            />
            {{ title }}.com
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
                class="navbar-nav nav-pills mx-auto mb-2 mb-lg-0 gap-1 align-items-lg-center"
            >
                <li class="nav-item">
                    <a
                        class="nav-link rounded-pill px-3"
                        routerLink="/accomplishments"
                        routerLinkActive="active"
                        >Accomplishments</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link rounded-pill px-3"
                        routerLink="/devblog"
                        routerLinkActive="active"
                        *ngIf="isDevBlogEnabled"
                        >Dev Blog</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link rounded-pill px-3"
                        routerLink="/interests"
                        routerLinkActive="active"
                        >Interests</a
                    >
                </li>
            </ul>
        </div>
        <div class="camelbird-navbar-right">
            <a
                aria-label="GitHub link"
                target="_blank"
                rel="noopener"
                href="https://github.com/dangard"
                title="GitHub"
            >
                <i
                    class="bi bi-github navbar-social-icon"
                    aria-hidden="true"
                ></i>
            </a>
            <a
                aria-label="Daniel on LinkedIn"
                target="_blank"
                rel="noopener"
                href="https://www.linkedin.com/in/dangard/"
                title="LinkedIn"
            >
                <i
                    class="bi bi-linkedin navbar-social-icon"
                    aria-hidden="true"
                ></i>
            </a>
        </div>
    </div>
</nav>
