@import "../../../../assets/styles/colors.scss";

nav.navbar {
  .navbar-brand {
    #camel-logo {
      border-radius: 20px;
      width: 40px;
    }
  }

  .camelbird-navbar-right {
    position: absolute;
    right: 10px;
    top: 15px;

    i-bs {
      margin: 0 8px;

      &:hover {
        color:  $heading-color-secondary;
      }
    }
  }

  ul {
    li {
      a.nav-link {
        color: #fff;
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
          background-color: $heading-color-secondary;
          color: #fff;
        }

        &:active {
          color: #fff;
        }

        &:visited {
          color: #fff;
        }

        &.active {
          background-color: $heading-color-secondary;
          color: #fff;
        }
      }
    }
  }
}
