<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dev Blog</li>
          </ol>
        </nav>
        <p style="lead">
          <span class="display-6 dropCap">W</span>elcome to the Portfolio Site of Daniel J. Gardner. Below you will find links to some of the websites/appplications I have worked on.
        </p>
      </div>
    </div>
</div>