<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-2">
    <li class="breadcrumb-item" aria-current="page"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Interests</li>
  </ol>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Interests</h1>
    <p class="lead">I've always loved to learn new things.</p>
  </div>
</div>
<p>The purpose of this page is to share abit about who I am.</p>
<h5>Learning</h5>
<p>I've recently discoverd a a youtube channel called <a href="https://www.youtube.com/c/inanutshell">Kurzgesagt – In a Nutshell</a>. They have somw awesome videos talking about scientific and phylsophical topics. One very petinent video they have is this one on <a href="https://www.youtube.com/watch?v=zBkVCpbNnkU">Vaccines</a>. Some othert videos I have really enjoyed include <a href="https://www.youtube.com/watch?v=dqwpQarrDwk">The Skyhook</a>. <a href="https://www.youtube.com/watch?v=rhFK5_Nx9xY">Alien Scale (The Kardashev Scale)</a>. Their video are fun, informative and they link their sources.</p>
<p>Some other sites I enjoy learning from are <a href="https://frontendfoc.us/">Frontend Focus</a> and <a href="https://alistapart.com/">A List A Part</a>. For Swift developemnt I found the patterns outlined in the <a href="https://clean-swift.com/">Clean Swift</a> guide very logical. I've applied those principle on IOS apps I have worked on.</p>
<h5>Hobbies</h5>
<p>For relaxation I really enjoy playing video games. <strong>Mass Effect Legendary Edition</strong>, <strong>Sims 4</strong>, <strong>Dragon Age: Inquisition</strong> and, <strong>Spiritfairer</strong> are a few of my current Favorites. Will always have a special place in my heart for the Zelda Games.</p>
<p>Since I love video games I've been trying my hand at creating addon and game mods. I've created some XML config overide mods for Mass Effect and I'm working on some Custom Content items for Sims 4.</p>
<p>I'm an avid reader mostty of SciFi/Fantasy. Some of my favorite authors include <strong>Issac Asimov</strong>, <strong>Terry Pratchet</strong>, <strong>Terry Brooks</strong>, <strong>Stephen King</strong>, <strong>Dean Kooontz</strong>, <strong>Jim Butcher</strong> and <strong>Robert Jordan</strong>. I think of programming as a bit magical. I work in arcane languages that I can use to make things happen all the time.</p>
