<nav aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb mb-3 mt-2">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Interests
            </li>
        </ol>
    </div>
</nav>
<div class="interests-hero p-4 p-md-5 mb-4 rounded-3 text-light shadow-sm">
    <div class="container">
        <h1 class="display-5 fw-normal mb-3">Interests</h1>
        <p class="lead mb-0 text-white-50">
            I've always loved to learn new things.
        </p>
    </div>
</div>
<div class="container pb-5">
    <p>The purpose of this page is to share a bit about who I am.</p>
    <h5>Learning</h5>
    <p>
        I've recently discovered a YouTube channel called
        <a href="https://www.youtube.com/c/inanutshell"
            >Kurzgesagt – In a Nutshell</a
        >. They have some awesome videos talking about scientific and
        philosophical topics. One very pertinent video they have is this one on
        <a href="https://www.youtube.com/watch?v=zBkVCpbNnkU">Vaccines</a>. Some
        other videos I have really enjoyed include
        <a href="https://www.youtube.com/watch?v=dqwpQarrDwk">The Skyhook</a>.
        <a href="https://www.youtube.com/watch?v=rhFK5_Nx9xY"
            >Alien Scale (The Kardashev Scale)</a
        >. Their videos are fun, informative and they link their sources.
    </p>
    <p>
        Some other sites I enjoy learning from are
        <a href="https://frontendfoc.us/">Frontend Focus</a> and
        <a href="https://alistapart.com/">A List A Part</a>. For Swift
        development I found the patterns outlined in the
        <a href="https://clean-swift.com/">Clean Swift</a> guide very logical.
        I've applied those principles on iOS apps I have worked on.
    </p>
    <h5>Hobbies</h5>
    <p>
        For relaxation I really enjoy playing video games.
        <strong>World of Warcraft</strong>, <strong>Enshrouded</strong>,
        <strong>Dragon Age: The Veilguard</strong>, and
        <strong>Wayfinder</strong> are a few of my current favorites. Will
        always have a special place in my heart for the Zelda Games.
    </p>
    <p>
        Since I love video games, I've been trying my hand at creating addons
        and game mods. I've created some XML config override mods for Mass Effect
        and I'm working on some Custom Content items for Sims 4.
    </p>
    <p>
        I'm an avid reader mostly of sci-fi/fantasy. Some of my favorite authors
        include <strong>Isaac Asimov</strong>, <strong>Terry Pratchett</strong>,
        <strong>Terry Brooks</strong>, <strong>Stephen King</strong>,
        <strong>Dean Koontz</strong>, <strong>Jim Butcher</strong>, and
        <strong>Robert Jordan</strong>. I think of programming as a bit magical.
        I work in arcane languages that I can use to make things happen all
        the time.
    </p>
</div>
