@use "../../../assets/styles/colors.scss" as colors;

.interests-hero {
    background-color: colors.$dark;
    background-image: url("../../../assets/DanielGardner.png");
    background-position: 50% 28%;
    background-size: cover;
    color: #fff;
    margin: 0 0 1.5rem;
    min-height: 170px;
}
