<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img id="camel-logo" alt="Github Logo" src="/assets/zflyingcamel.gif" />
    <span>Welcome to {{ title }}.com</span>
    <div class="spacer"></div>
	<a aria-label="Github link" target="_blank" rel="noopener" href="https://github.com/dangard" title="Github">
		<img id="github-logo" alt="Github Logo" src="/assets/GitHub-Mark-Light-32px.png" height="24" />
    </a>
    <a aria-label="Daniel on Linked In" target="_blank" rel="noopener" href="https://www.linkedin.com/in/dangard/" title="Linked In">
        <img id="linked-in-logo" alt="Linked In Logo" src="/assets/LI-In-Bug.png" height="24" />
    </a>
</div>

<div class="content" role="main">
  <div class="container-fluid">
	  <div class="row align-items-start">
		  <div class="col">
			 <div id="heroImage">
			 </div>
             <p style="lead">
                 <span class="display-6 dropCap">W</span>elcome to the Portfolio Site of Daniel J. Gardner. Below you will find links to some of the websites/appplications I have worked on.
             </p>
             <p>
                 I am very passionate about <strong>user experience</strong>, <strong>UI</strong>, and <strong>APIs</strong>. In addition I am a passionate <strong>customer advocate</strong>.
			 </p>
			 <p>
				 Working for Disney I have come to think of all consumers of my applications as my guest, no matter at what level they are interacting with my application, be it using the UI or calling an API I want the experience to be best in class.
             </p>     
             <p>
                 <strong>Programming Languages:</strong> Swift, Haskell, Visual Basic, Perl, Embedded Perl, Perl Mason, Java, Cold Fusion, SQL, ASP, PHP, JavaScript, and VBScript.
             </p>
             <p><strong>JS Frameworks:</strong> JQuery, Jquery UI, Angular, NodeJS.</p>
             <p>
                 <strong>Databases:</strong> MySQL, MS Sequel, and Oracle.
             </p>
             <p>
                 To request a resume <a href="mailto:dangard@runbox.com">contact me</a>.
             </p>
             <h4>Disney</h4>
			 <h5 class="ps-2">Senior Solution Architect</h5>
			 <b class="ps-3">Resort Technology</b>
			 <p class="ps-3">I'm the Solution Engineer team member for the Check In and Fulfillment team. In this role I work with the business and developers to define the solution for busines needs. I generate UML documentaion and present solutions to the team. In addition, I help the development team with problems and defects that need deeper investigation.</p>
			 <ul class="ms-3">
				 <li>PMS UI Replacement Project</li>
				 <li>Resort Ticketing Flows</li>
				 <li>Digital Signature</li>
				 <li>Project Status Tracking</li>
			 </ul>
			 <b class="ps-3">Interactive Television</b>
			 <p class="ps-3">I worked with business partners and an external vendor to solution system integrations for:</p>
			 <ul class="ms-3">
				 <li>ITV Disneyland Resorts</li>
				 <li>ITV Starwars Galactic Cruiser - Walt Disnet World</li>
			 </ul>
			 <h5 class="ps-2">Senior Software Development Engineer</h5>
			 <b class="ps-3">Interactive Television</b>
			 <p class="ps-3">I was the team lead on development of the orchestration layer used by the Interactive TV vendor system to communicate with systems at Walt Disney World.</p>
			 <b class="ps-3">Resort Technology</b>
			 <p class="ps-3">
                 <a href="https://itunes.apple.com/us/app/my-disney-experience/id547436543?mt=8">My Disney Experience</a> app for iOS.
                 My team worked on the informational screens presented to the guest when they have a scheduled stay at a Disney Resort.
                 Some features that are included are:
             </p>
             <ul class="ms-3">
                 <li>Resort Online Chechin</li>
                 <li>Resort stay detail page(Checkin/checkout times, resort map, room information..)</li>
                 <li>View resort folio</li>
                 <li>Digital Key</li>
             </ul>
			 <b class="ps-3">Disney Parks Websites</b>
             <p class="ps-3">
               Things to Do List pages. Attraction, entertainment, Events and Tours...<br />
               Desktop, Mobile, and Tablet adaptive sites.
			 </p>
			 <ul class="ms-3">
				 <li><a href="http://disneyworld.disney.go.com/attractions/">Disney World (Things To Do)</a></li>
				 <li><a href="http://disneyland.disney.go.com/attractions/">Disneyland (Things To Do)</a></li>
				 <li><a href="http://www.disneylandparis.co.uk/attractions/">Disneyland Paris (Things To Do) (UK)</a></li>
				 <li><a href="http://www.disneylandparis.fr/attractions/">Disneyland Paris (Things To Do) (French)</a></li>
				 <li><a href="https://disneycruise.disney.go.com/">Disney Cruise</a></li>
			 </ul>
		     <h4>Classmates Online (<a href="www.classmates.com">Classmates.com</a>)</h4>
			   <p class="ps-3">
				   I was a developer working on maintaining and A/B testing the new user registration and checkout flows.
			   </p>
			   <ul class="ms-3">
				  <li><a href="https://www.classmates.com/">New User Registration Flow</a></li>
				  <li><a href="http://www.classmates.com/checkout/start">Checkout</a> (Must be Logged In)</li>
			   </ul>
               <p class="ps-3">
                   In addition I am the primary UI developer for an internal CMS and A/B Testing tool and framework.
               </p>
               <h4>AT&amp;T Wireless/Cingular Wireless</h4>
			   <p class="ps-3">
                   I was a developer adding new features and maintaining the business to consumer online store flows. 
               </p>
               <p class="ps-3">
                   <a href="http://www.cingular.com/">Online Store</a><br />
               </p>
               <h4>Marchex</h4>
               <p class="ps-3">
                   I worked as a JAVA developer on a feed management systems as well as on the UI for an internal SEO/Marketing tool.
               </p>
               <h4>Amazon.com</h4>
               <p class="ps-3">
                   I was a web developer starting in the books store then working on the media stores (books, music, video) eventually supporting all the business to consumer storefronts. In addition I worked on the team that started building websites for other companies using Amazon's technolgy stack, Target Direct and store.nba.com were two of these sites.
               </p>
               <ul class="ms-3">
                    <li><a href="http://www.amazon.com/magazines">The Magazine Subscription Store</a></li>
                    <li><a href="http://www.amazon.com/exec/obidos/tg/browse/-/604878">Browse Magazine Subscriptions A-Z</a></li>
                    <li><a href="http://www.amazon.com/ebooks">The E-Books Store</a></li>
                    <li><a href="http://www.amazon.com">Site In General - Many Small Projects</a></li>    
               </ul>
               <b>Target Direct (<a href="http://www.Target.com/">www.Target.com</a>)(For Amazon)</b>
               <p class="ps-3">
                    Gift Registries <span class="small">- Main areas of responsibility: adding/updating/buying registry items, email sending, e-mail templates, recommendation widgets, and many other smaller tasks.</span>
                    Help Section.	  
               </p>
		  </div>
	  </div>
  </div>
	
  <!-- Footer -->
  <footer>
      Copyright © 2000-{{ year }} Daniel Gardner
  </footer>

</div>

<router-outlet></router-outlet>
