@import "src/app/pallette.scss";  

 #heroImage {
	 background-image: url("/assets/AdobeStock_208230550.jpeg");
	 background-color: #000;
	 background-position: 10% 25%;
	 position: relative;
	 width: 100%;
	 height: 300px;
	 margin: 20px 0 10px 0;
 }
