<div class="create-devblog-form container-fluid bg-white p-1">
  <div class="row-fluid">
    <div class="col-12 bg-info text-light text-center">
      <strong>Create Dev Blog</strong>
    </div>
  </div>
  <div class="row-fluid m-2">
    <form (ngSubmit)="onSubmit()">
      <div class="form-row">
        <label for="name"><strong>Title</strong></label>
        <input [(ngModel)]="devBlog.title" type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter the title">
        <div id="titleHelp" class="form-text text-muted">Enter your post's title</div>
      </div>
      <div class="form-row">
        <label for="description"><strong>Body</strong></label>
        <textarea [(ngModel)]="devBlog.body" name="body" class="form-control" id="body" aria-describedby="bodyHelp">
    </textarea>
        <div id="bodyHelp" class="form-text text-muted">Enter the Dev Blog body</div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="createDevblog()">Create Dev Blog</button>
    </form>
  </div>
</div>
