<form class="create-devblog-form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="name">Title</label>
    <input [(ngModel)]="devBlog.title" type="text" name="title" class="form-control" id="title" aria-describedby="titleHelp" placeholder="Enter the title">
    <div id="titleHelp" class="form-text text-muted">Enter your post's title</div>
  </div>
  <div class="mb-3">
    <label for="description">Body</label>
    <textarea [(ngModel)]="devBlog.body" name="body" class="form-control" id="body" aria-describedby="bodyHelp">
    </textarea>
    <div id="bodyHelp" class="form-text text-muted">Enter the Dev Blog body</div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="createDevblog()">Create Dev Blog</button>
</form>
