/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/colors.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  background-color: $body-background-color;
  padding-top: 65px;
}

a {
  color: $link-color;

  &:hover {
    font-weight: bold;
    text-decoration: none;
    color: $link-hover-color;
  }

  &:visited {
    color: $link-visited-color;
  }
}

h4 {
  color: $heading-color-primary;
}

h5 {
  color: $heading-color-secondary;
}
