/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
body {
  background-color: #646464; }

.dropCap {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; }

.spacer {
  flex: 1; }

a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #09599C; }

a:visited {
  color: #000000; }

h4 {
  color: #00422E; }

h5 {
  color: #503181; }

a {
  color: #084C84; }

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1E5700;
  color: white;
  font-weight: 600;
  padding-left: 40px; }

.toolbar img {
  margin: 0 16px; }

.toolbar #camel-logo {
  position: absolute;
  top: 10x;
  left: 0;
  height: 40px;
  margin: 0 16px 0 8px;
  border-radius: 20px; }

.toolbar #linked-in-logo {
  height: 32px;
  margin: 0 8px; }

.toolbar #github-logo {
  height: 32px;
  margin: 0 8px; }

.toolbar #linked-in-logo:hover,
.toolbar #github-logo:hover {
  opacity: 0.8; }

.toolbar span {
  position: absolute;
  left: 58px; }

.content {
  background-color: #C9C8C7;
  display: flex;
  margin: 60px auto 32px;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center; }

footer {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  line-height: 20px; }

footer a {
  display: flex;
  align-items: center; }

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  margin-left: 4px;
  font-weight: 600; }

.github-star-badge:hover {
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  border-color: rgba(27, 31, 35, 0.35);
  background-position: -.5em; }

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px; }
